html
  body
    h1 Create a new post
    form(name="newpost", action="http://127.0.0.1/api/posts", method="post")
      textarea(id="postBody", rows="10", cols="50")
      br
      input(type="submit", value="Create Post")
